<settings>

    <setting propertyKey="@Properties.LowPowerHand" title="@Strings.LowPowerHandTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Hours</listEntry>
            <listEntry value="1">@Strings.Minutes</listEntry>
            <listEntry value="2">@Strings.Seconds</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HighPowerHand" title="@Strings.HighPowerHandTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.Hours</listEntry>
            <listEntry value="1">@Strings.Minutes</listEntry>
            <listEntry value="2">@Strings.Seconds</listEntry>
        </settingConfig>
    </setting>


</settings>
